{% extends 'base.html' %}

{% load humanize %}
{% load static %}

{% load cart_tag %}
{% block content %}
<!-- Cart Detail: -->
<br>
<section class="cart bgwhite p-b-100  text-center">
    <div class="container">
    <div class="container-table-cart pos-relative">
        <div class="wrap-table-shopping-cart bgwhite">
            <table class="table-shopping-cart">
                <tr class="table-head">
                    <th class="column-1"></th>
                    <th class="column-2">Product</th>
                    <th class="column-3">Price</th>
                    <th class="column-4">Quantity</th>
                    <th class="column-5">Total</th>
                </tr>
                {% for key,value in request.session.cart.items %}
                <tr class="table-row">
                    <td class="column-1">
                        <div class="cart-img-product b-rad-4 o-f-hidden">
                            <img src="{{ value.image }}" alt="IMG-PRODUCT">
                        </div>
                    </td>
                    <td class="column-2" scope="row">{{value.name}}</td>
                    <td class="column-3">₹ {{value.price | intcomma}}</td>
                    <td class="column-4">
                        <div>
                            <a href="{% url 'item_decrement' value.product_id %}"><button>
                                <i class="fs-12 fa fa-minus colour" aria-hidden="true"></i>
                            </button></a>
                            
                            <span class="column-3 quantity">{{value.quantity}}</span>
                            
                            <a href="{% url 'item_increment' value.product_id %}"><button>
                                <i class="fs-12 fa fa-plus colour" aria-hidden="true"></i>
                            </button></a>
                            
                        </div>
                    </td>
                    <td class="column-5">₹ {{ value.price | multiply:value.quantity | intcomma }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <div class="bo8">

        <div class="total-amount p-t-25 column-1">
            <span>₹ {{ total | intcomma }}.0</span>
        </div>

        <div class="flex-sb-m p-b-25 p-r-25 p-t-10">
            <div class="size12">
                <a href="{% url 'cart_clear' %}"><button type="button" class="btn btn-outline-dark">
                   <span class="cart">Clear Cart</span> 
                </button></a>
            </div>

            <div>
                <form action="{% url 'checkout' %}">
                    <button type='submit' class="btn btn-outline-dark form-control">
                        Checkout
                    </button>
                </form>
            </div>
        </div>
               
    </div>
</div>
</section>

<!-- <div class="flex-w flex-sb-m p-t-25 p-b-25 bo8 p-r-20 p-lr-15-sm">
    <div class="flex-w flex-m w-full-sm">
        <div class="size12 trans-0-4 m-t-10 m-b-10 m-r-10">
           
            <a href="{% url 'cart_clear' %}"><button type="button" class="btn btn-outline-dark">
               <span class="cart">Clear Cart</span> 
            </button></a>
        </div>
           
    </div>
    <div class="flex-w flex-m w-full-sm">
      
        <br>
        <form action="{% url 'checkout' %}">
            <button type='submit' class="btn btn-outline-dark form-control">
                Checkout
            </button>
        </form>
        </div>
           
    </div> -->
    
    



<!--===============================================================================================-->
<script src="js/main.js"></script>



{% endblock %}