/* Carousel Section */

.product-carousel{
    width: 100%;
    height:50%;
    text-align: center;
}

/* .carouselButton{
    
} */

.carousel-control-prev-icon{
    position: absolute;
    left: 2rem;
    color: #d3d3d3;

}

.carousel-control-next-icon {
    position: absolute;
    right: 2rem;
    color: #d3d3d3;

}

/* Featured Products Section */

#featured{
    padding: 50px 0px;
    font-family: montserrat;
}

.more-info:after {
    background: none repeat scroll 0 0 transparent;
    /* bottom: 0; */
    content: "";
    display: block;
    height: 1.5px;
    left: 50%;
    /* position: absolute; */
    background: #353535;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
  .more-info:hover:after { 
    width: 100%; 
    left: 0; 
  }
.more-info{
    text-decoration: none;   
    color: #212529;
}
/* .more-info:hover{
    text-decoration: underline; 
} */
/* Shipping Section */

#guarantee{
    text-align: center;
    padding: 50px 20px;
}

#guarantee .icons{
    padding-bottom: 5px;
}

#guarantee p{
    padding: 10px 0px;
    font-size: large;
}

.col-sm-12{
    padding: 50px 0px;
}

/* About Section */

#about{
    text-align: center;
    padding: 50px 20px;
}

#about img{
    width: 40%;
    padding-bottom: 20px;
    transition: transform .7s;
}

#about img:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2); 
    width: 40%;
}

#about .name{
    padding-bottom: 20px;
}

#about a{
    padding: 0px 10px;
    text-decoration: none;
    color: #212529;
}

#about .socialMedia{
    padding: 20px 0px;
}

/* Footer Section */

footer{
    text-align: center;
    padding: 30px;
}

/* Product Filter Section */

#products .container{
    margin: 40px auto;
}

.inner-addon {
    position: relative;
}
  
.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

.right-addon .glyphicon { 
    right: 0px;
    top: 2px;
}
 
.right-addon input { 
    padding-right: 30px; 
}

.form-control:focus {
    border-color: #ffffff;
    box-shadow: 0 0 0 0.2rem rgba(117, 114, 114, 0.301);
}

.form-control{
    border-radius: 1rem;
}

/* Slider */
.slidecontainer {
    width: 100%;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 5px;
    background: #353535;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #d3d3d3;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
  }

  .fa-filter{
      padding-top: 10px;
      color: #353535;
  }
  .colour{
    color: #353535; 
  }

  /* Cart */

  .quantity{
      padding: 0 10px;
  }

    .btn-outline-dark{
    border-radius: 1rem;
 }

 .cart{
     padding: 10px; 
 }
 
.total-amount{
    font-size: large;
    padding-left: 87%;
}

/* Product Description Section */

#productDesc .text-center{
    text-align: center;
    padding-bottom: 10px;
    padding-top: 0px;
}

