{% extends 'base.html' %}

{% load humanize %}

{% block content %}

<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 style="color:black">{{ product.name }}</h1>
          <p class="lead">
            {% if product.category == 'Smartphone' %}
            <i class="fas fa-mobile"></i>
            {% elif product.category == 'Laptops' %}
            <i class="fas fa-laptop"></i>
            {% elif product.category == 'Earphones' %}
            <i class="fas fa-headphones"></i>
            {% else %}
            <i class="fab fa-reddit-alien"></i> 
            {% endif %}
            {{ product.category }} By {{ product.seller }}</p>
        </div>
      </div>
    </div>
  </section>


  <!-- Product Description -->
  <section id="productDesc" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <img src="{{ product.image.url }}" alt="" class="img-fluid mb-3"><hr>
          <div class="row mb-5 thumbs">
              {% if product.image_1 %}
            <div class="col-md-2">
              <a href="{{ product.image_1.url }}">
                <img src="{{ product.image_1.url }}" alt="" class="img-thumbnail">
              </a>
            </div>
              {% endif %}
              {% if product.image_2 %}
            <div class="col-md-2">
              <a href="{{ product.image_2.url }}">
                <img src="{{ product.image_2.url }}" alt="" class="img-fluid">
              </a>
            </div>
              {% endif %}
              
          </div>
          <hr>
          
        </div>

        <div class="col-md-4">
          <div class="card mb-4">
            <div class="card-body">
              <h5 class="card-title">About</h5>
              <p class="card-text">{{ product.specification}}</p>
            </div>
          </div>
          <div class="row text-center">
            <div class="col-sm-6">
              <i class="far fa-clock">: </i>
              <span> {{ seller.delivery_in }}</span>
            </div>
            <div class="col-sm-6">
              <span>Price: ₹ {{ product.price | intcomma }} </span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              {% if user.id == None %}
              <button class="btn btn-outline-dark form-control" onclick="checkLogin()">Add to Cart</button>
              {% else %}
              <button class="btn btn-outline-dark form-control disabled">Added to Cart</button>
              {% endif %}
            </div>
            <div class="col-md-6">
              {% if user.id == None %}
              <button class="btn btn btn-dark form-control" onclick="checkLogin()">Checkout</button>
          {% else %}
              <button class="btn btn btn-dark form-control" data-toggle="modal" data-target="#inquiryModal">Checkout</button>
          {% endif %}
            </div>
           
          </div>
          
        </div>
      </div>
    </div>
  </section>

  <!-- Inquiry Modal -->
  <div class="modal fade" id="inquiryModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          {% if  suggested_product != None %}
          <h6 class="modal-title" id="inquiryModalLabel">Users along with this have also bought</h6>
          {% else %}
          <h6 class="modal-title" id="inquiryModalLabel">Please confirm the purchase!</h6>
          {% endif %}
          <button type="button" class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {% if  suggested_product != None %}
          <div class="row">
            <div class="col-md-7">
            <b><a href="{% url 'product' suggested_product.id %}" target="_blank" class="more-info" >{{ suggested_product.name }}</a></b>
              <br/><b>Price: ₹ {{ suggested_product.price | intcomma }}</b>
            </div>
            <div class="col-md-5">
              <img src="{{ suggested_product.image.url }}" height="100" alt="smx" >
            </div>
          </div>
            <hr>
            <a href="{% url 'cart_add' suggested_product.id %}"><input type="button" value="Buy Both at ₹ {{ product.price | add:suggested_product.price | intcomma }}" class="btn btn btn-dark form-control"></a>
          <hr>
          {% endif %}
          <a href="{% url 'cart_detail' %}"><input type="button" value="Proceed with checkout" class="btn btn-outline-dark form-control"></a>
        </div>
      </div>
    </div>
  </div>

<script>
  function checkLogin() {
      var ask = window.confirm("user is not logged in ");
      if(ask){
        window.location.href = "{% url 'login' %}";
        }
  }
</script>
{% endblock %}