{% extends 'base.html' %}

{% load humanize %}

{% block content %}

<!-- Search Bar -->
{% include 'shared/filterbar.html' %}

  <!-- Listings -->
  <section id="listings" class="py-4">
    <div class="container">
      <div class="row">

        {% if products %}
          {% for product in products %}
            <div class="col-md-6 col-lg-4 mb-4">
              <div class="card listing-preview">
                <img class="card-img-top" src="{{ product.image.url }}" height="350" alt="">
                <div class="card-img-overlay">
                  <h2>
                    <span class="badge badge-secondary text-white">₹{{ product.price | intcomma }}</span>
                  </h2>
                </div>
                <div class="card-body">
                  <div class="listing-heading text-center">
                    <h4 class="text-primary">{{ product.name }}</h4>
                    <p>
                      <i class="fab fa-reddit-alien text-secondary"></i> {{ product.category }}</p>
                  </div>
                  <hr>
                  
                  <hr>
                  <div class="row py-2 text-secondary">
                    <div class="col-12">
                      <i class="fas fa-registered"></i> Brand: {{ product.brand }}</div>
                  </div>
                  <div class="row text-secondary pb-2">
                    <div class="col-6">
                      <i class="fas fa-clock"></i> {{ product.list_date | timesince }}</div>
                  </div>

                 

                  <hr>
                  <a href="{% url 'product' product.id %}" class="btn btn-primary btn-block">More Info</a>
                </div>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <div class="text-center col-md-12">
            <h4 style="padding-bottom: 34%;">No Products Available.</h4>
          </div>
        {% endif %}

      </div>
    </div>
  </section>
{% endblock %}