{% extends 'base.html' %}

{% load humanize %}

{% block content %}

<!-- Search Bar -->
{% include 'shared/filterbar.html' %}

  <!-- Listings -->
  <section id="listings" class="py-4">
    <div class="container">
      <div class="row">

        {% if products %}
          {% for product in products %}
          
          
            <div class="col-md-6 col-lg-4 mb-4">
              <div class="block2-img wrap-pic-w of-hidden pos-relative block2-label new">
                <img src="{{ product.image.url }}" alt="IMG-PRODUCT" height="250" width="200">
          
                <div class="block2-overlay trans-0-4">
                  <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4 index_a">
                    <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
                    <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
                  </a>
          
                  <div class="block2-btn-addcart w-size1 trans-0-4">
                    <!-- Button -->
                    <button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
                      <a href="{% url 'product' product.id %}" style="color: white;">Add To Cart</a>
                    </button>
                  </div>
                </div>
              </div>
          
              <div class="block2-txt p-t-20">
                <a href="{% url 'cart_add' product.id %}" class="block2-name dis-block s-text3 p-b-5 index_a">
                  <span>{{ product.name }}</span>
                </a>
                <br>
                <span class="block2-price m-text6 p-r-5">
                  ₹{{ product.price }}
                </span>
              </div>
            <!-- display more details using variable {{product.is_available}}-->
            </div>
          
          {% endfor %}
        {% else %}
          <div class="text-center col-md-12">
            <h4 style="padding-bottom: 34%;">No Products Available.</h4>
          </div>
        {% endif %}

      </div>
    </div>
  </section>
{% endblock %}